name pptpd
refuse-pap
refuse-chap
refuse-mschap
require-mschap-v2
require-mppe-128
{% for dns_server in pptpd_ms_dns %}
ms-dns {{ dns_server }}
{% endfor %}
proxyarp
nodefaultroute
lock
nobsdcomp
novj
novjccomp
nologfd